
windows_receiver/target/

windows_client/target/

whiteboard/target/

web_client/target/

test_rail/target/

manager/target/

linux_receiver/target/

test_rail/src/test/resources/results/

\.idea/libraries/

test_rail/test_rail\.iml

web_client/web_client\.iml

windows_client/windows_client\.iml

windows_receiver/windows_receiver\.iml

whiteboard/whiteboard\.iml

automation\.iml

linux_receiver/linux_receiver\.iml

manager/manager\.iml
